@media only screen and (max-width: 768px) {
	/** 型号 */ 
	.wt_custom_mobile_common_model {
		display: flex;
		align-items: center;
		height: 50px;
		line-height: 24px;
		color: var(--font-color-custom-mobile-title);
		font-size: 16px;
		text-align: center;
		padding: 13px 0px;
		border-bottom: var(--border-normal);
	}
	.wt_custom_type_header{
		width: 110px;
		text-align: center;
		padding: 16px 15px;
	}
	.wt_custom_type_title{
		padding: 0;
	}
	.wt_custom_type_body.wt_select{
		width: calc(100% - 118px);
		padding: 8px 16px;
		text-align: left;
	}
}

/*
 * ------------------------------------------------------------------
 *  
 * wt_footer_mobile_anchor_header
 * wt_custom_mobile_common_header
 *  
 */
.wt_footer_mobile_anchor_header,
.wt_custom_mobile_common_header {
	position: relative;
	height: 50px;
	color: var(--font-color-custom-mobile-title);
	font-size: 16px;
	line-height: 24px;
	font-weight: bold;
	text-align: center;
	padding: 13px 0px;
	border-bottom: var(--border-normal);
}



/*
 * ------------------------------------------------------------------
 *  
 * footer anchor 
 *  z-index(1101) 大于 zoom:z-index(1100)
 */
.wt_footer_mobile_anchor_container {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1101;
	width: 100vw;
	height: 100vh;
	background: var(--background-color-custom-mobile-container);
	
}
.wt_footer_mobile_anchor_box {
	background: var(--background-color-normal);
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	padding-bottom: 16px;
	border-radius: 8px 8px 0px 0px;
	max-height: 80%;
	/* min-height: 40%; */
}
.wt_footer_mobile_anchor_list{
	overflow-x: hidden;
	overflow-y: auto;
    max-height: calc(48px * 8);
}
.wt_footer_mobile_anchor_back {
	position: absolute;
	top: 17px;
	left: 16px;
	font-weight: normal;
	color: var(--font-color-menu-button);
	width: 16px;
	height: 16px;
	background: url("../images_m/返回@2x.png") no-repeat;
	background-size: 16px 16px;
}
.wt_footer_mobile_anchor_list .wt_anchor_item {
	font-size: 14px;
	line-height: 20px;
	color: var(--font-color-custom-body);
	
	padding: 14px 16px;

}
.wt_footer_mobile_anchor_list .wt_anchor_item.active {
	background: var(--background-color-menu);
	color: var(--font-color-link);
}

/*
 * ------------------------------------------------------------------
 *  
 * custom mobile --- model_attr
 *  
 */
.wt_custom_mobile_container {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 101;
	width: 100vw;
	height: 100vh;
	background: var(--background-color-custom-mobile-container);
}

.wt_custom_mobile_model_attr {
	background: var(--background-color-normal);
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	padding-bottom: 16px;
	border-radius: 8px 8px 0px 0px;
}




.wt_custom_mobile_footer {
	line-height: 24px;
	font-size: 16px;
	text-align: center;
	margin: 0px 0;
	border-top: var(--border-normal);
	height: 146px;
}


.wt_custom_mobile_common_header .wt_custom_mobile_cancel {
	position: absolute;
	top: 15px;
	left: 18px;
	color: var(--font-color-custom-mobile-button);
	font-size: 14px;
	font-weight: normal!important;
	line-height: 20px;
}
.wt_custom_mobile_common_header .wt_custom_mobile_reset {
	position: absolute;
	top: 15px;
	right: 58px;
	color: var(--font-color-custom-mobile-button);
	font-size: 14px;
	font-weight: normal!important;
	line-height: 20px;
}
.wt_custom_mobile_common_header .wt_custom_mobile_submit {
	position: absolute;
	top: 15px;
	right: 18px;
	color: var(--font-color-submit-button);
	font-size: 14px;
	line-height: 20px;
	font-weight: normal!important;
}
.wt_custom_mobile_footer .wt_custom_mobile_more {
	height: 50px;
	padding: 15px 0px;
	color: var(--font-color-submit-button);
	font-size: 14px;
	line-height: 20px;
	text-align: center;
}
.wt_custom_mobile_more:after {
	content: "";
	display: inline-block;
	width: 14px;
	height: 14px;
	background-image: url("../images_m/更多按钮@2x.png");
	background-size: 14px 14px;
	position: relative;
	top: 1px;
	margin-left: 4px;
}
.wt_custom_mobile_footer .wt_custom_mobile_notice {
	position: relative;
	padding: 8px 16px 8px 38px;
	margin: 0px 16px;
	height: 96px;
	border-radius: 8px;
	background: var(--font-color-custom-mobile-notice);
	color: var(--font-color-custom-body);
	
	font-size: 12px;
	line-height: 20px;
	letter-spacing: 0px;
	text-align: left;
}
.wt_custom_mobile_footer .wt_custom_mobile_notice_sign {
	position: absolute;
	top: 10px;
	left: 17px;
	width: 14px;
	height: 14px;
	background: url(../images_m/注释1@2x.png) no-repeat;
	background-size: 14px 14px;
}

.wt_custom_mobile_content {
	display: flex;
	max-height: 80%;
	min-height: 40%;
}
.wt_custom_mobile_content .wt_custom_mobile_functions {
	width: 110px;
	background: var(--background-color-mobile-functions);
}
.wt_custom_mobile_content .wt_custom_mobile_function {
	display: block;
	position: relative;
	height: 52px;
	padding: 16px 6px;
	color: var(--font-color-custom-mobile-functions);
	font-size: 14px;
	line-height: normal;
	letter-spacing: 0px;
	text-align: center;
}

.wt_custom_mobile_content .wt_custom_mobile_function.active {
	color: var(--font-color-menu-selected);
	background: var(--background-color-normal);
	border-left: 4px solid var(--font-color-menu-selected);
}

.wt_custom_mobile_content .wt_custom_mobile_list {
	overflow-x: hidden;
	overflow-y: auto;
	width: calc(100% - 110px);
	background: var(--background-color-normal);
}
.wt_custom_mobile_content .wt_custom_mobile_attrs {
	width: 100%;
	background: var(--background-color-normal);
}
.wt_custom_mobile_content .wt_custom_mobile_attr {
	position: relative;
	height: 52px;
	padding: 16px 0px 16px 0px;
    margin: 0px 16px 0px 24px;
	color: var(--font-color-menu-button);
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0px;
	text-align: left;
	border-bottom: var(--border-normal);
}
.wt_custom_mobile_content .wt_custom_mobile_attr .wt_custom_mobile_attr_checkbox {
	position: absolute;
	top: 16px;
	right: 8px;
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url(../images_m/未选中@2x.png);
    background-size: 16px 16px;
}

.wt_custom_mobile_content .wt_custom_mobile_attr.checked {
	color: var(--font-color-menu-selected);
}
.wt_custom_mobile_content .wt_custom_mobile_attr.checked .wt_custom_mobile_attr_checkbox {
	position: absolute;
	top: 16px;
	right: 8px;
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url(../images_m/选中@2x.png);
    background-size: 16px 16px;
}



/*
 * ------------------------------------------------------------------
 *  
 * custom mobile --- topic
 *  
 */
 .wt_custom_mobile_topic {
	background: var(--background-color-normal);
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	padding-bottom: 0px;
	border-radius: 8px 8px 0px 0px;
	max-height: 80%;
	min-height: 40%;
}
 
.wt_custom_mobile_back {
    position: absolute;
    float: left;
    top: 18px;
    left: 16px;
	background-image: url(../images_m/返回@2x.png);
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
}

/** 更多章节目录 箭头   */
.wt_custom_mobile_topic_menu_ul .topicref>span:nth-child(2){
	width: 16px !important;
}
/** 更多章节目录 文字   */
.wt_custom_mobile_topic_menu_ul .topicref>span:nth-child(3){
	width: calc(100% - 24px - 16px) !important;
}



/*
 * ------------------------------------------------------------------
 *  
 * custom  topic menu 
 *  
 */

.wt_custom_mobile_topic_body {
	overflow-x: hidden;
	overflow-y: auto;
    height: calc(100% - 18px - 66px);
	padding: 0px 0px 0px 0px;
}
.wt_custom_mobile_topic_menu_ul {
	margin-bottom: 0px;
}
.wt_custom_mobile_topic .li_checkbox {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../images_m/未选中@2x.png) no-repeat;
	background-size: 16px 16px;
	margin-right: 10px;
}

.wt_custom_mobile_topic .li_checkbox.checked {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../images_m/选中@2x.png) no-repeat;
	background-size: 16px 16px;
	margin-right: 10px;
}

.wt_custom_mobile_topic_menu_ul .li_has_children.li_close>.topicref>.li_before {
	position: relative;
	float: right;
	right: calc(-100% - 8px );
	width: 16px;
	height: 16px;
	background: url(../images_m/下拉@2x.png) no-repeat;
	background-size: 16px 16px;
	margin-left: -16px;
	margin-right: 0px;
}
.wt_custom_mobile_topic_menu_ul .li_has_children.li_open>.topicref>.li_before {
	position: relative;
	float: right;
	right: calc(-100% - 8px );
	width: 16px;
	height: 16px;
	transform: rotate(-90deg);
	background: url(../images_m/下拉@2x.png) no-repeat;
	background-size: 16px 16px;
	margin-left: -16px;
	margin-right: 0px;
}

